@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div class="page" style="display: flex; flex-direction: column; min-height: 100vh;">
    <header>
        <NavMenu />
    </header>

    <main class="container mb-4" style="flex-grow: 1; overflow-y: auto;">
        <article class="content px-4">
            @Body
        </article>
    </main>

    <FooterMenu />
</div>